# Python Crash Course
Basics Learned

# Basic Number and Arithmetics

In [3]:
1

1

In [4]:
1.0

1.0

In [5]:
1/2.0

0.5

In [6]:
2 ** 4

16

In [7]:
1 + 1

2

In [8]:
2 + 3 +5 * 5

30

In [9]:
(2 + 3) * (5 + 5)

50

In [10]:
4 % 5

4

In [11]:
4 % 4

0

In [13]:
var = 2

In [14]:
y = 3

In [16]:
var + y

5

In [18]:
var

2

In [20]:
# String COMMENT

In [21]:
#' ' or double quotes can be used for Strings

In [22]:
x = "hello"

In [23]:
x

'hello'

In [24]:
print(x)

hello

In [25]:
num = 12
name = 'Sam'

In [27]:
str = 'My number is {} and my name is {}'.format(num,name)

In [28]:
print(str)

My number is 12 and my name is Sam

In [30]:
print('My number is {one} and my name is {two}, more {one}'.format(one = num,two = name))

My number is 12 and my name is Sam, more 12

In [31]:
s = 'hello'

In [32]:
s[0]

'h'

In [33]:
s = 'abcdefghijk'

In [34]:
s[0]

'a'

In [35]:
s[0:]

'abcdefghijk'

In [36]:
s[:5]

'abcde'

In [37]:
s[0:3]

'abc'

In [38]:
[1,2,3] #List

[1, 2, 3]

In [39]:
['a','b','c']

['a', 'b', 'c']

In [40]:
my_list = ['a','b','c']

In [41]:
my_list.append(10)

In [42]:
my_list

['a', 'b', 'c', 10]

In [43]:
my_list[1]

'b'

In [44]:
my_list[1:3]

['b', 'c']

In [45]:
print(my_list[1:3])

['b', 'c']

In [46]:
my_list[0] = 'NEW'

In [47]:
my_list

['NEW', 'b', 'c', 10]

In [48]:
nest = [1,2,3,[3,4,5]]

In [49]:
nest

[1, 2, 3, [3, 4, 5]]

In [51]:
nest[3]

[3, 4, 5]

In [52]:
nest[3][2]

5

In [53]:
nest = [1,2,3,[4,5,['target']]]

In [56]:
print(nest[3][2][0])

target

# Dictionaries

In [57]:
## Key-Value Pairs

In [65]:
d ={'key':'value1','key2':123,1:50,'lis':[11,12]}

In [59]:
d['key']

'value1'

In [60]:
d['key2']

123

In [62]:
d[1]

50

In [67]:
d['lis'][0]

11

In [68]:
d = {'k1':{'innerkey':[1,2,3]}}

In [70]:
d['k1']['innerkey'][2]

3

In [71]:
True

True

In [72]:
False

False

# Tuples and Sets

In [73]:
t = (1,2,3)

In [74]:
t[0]

1

The difference between tuples and list is that in LIST we can REASSIGN any value at any time WHEREAS
TUPLES are immutable like Strings, theey can't be reassigned.

In [75]:
{1,2,3}

{1, 2, 3}

This is a set above.

In [77]:
s = {1,2,1,3,1,1,1,1,2,2,2,3,4,5,5,3}

The set can take only unique elements. No repeatable value possible.

In [78]:
s.add(5)

In [79]:
s

{1, 2, 3, 4, 5}

# Comparision Operators

In [80]:
1 > 2

False

In [81]:
2>1

True

In [82]:
1 != 1

False

In [83]:
1 == 1

True

In [84]:
1 == 2

False

In [85]:
1 != 2

True

In [86]:
1 <= 3

True

In [87]:
'Hie ' == "Hie"

False

In [88]:
'Hie' == 'Hie'

True

In [89]:
1 < 2

True

In [91]:
1 < 2 and 2 < 3

True

In [93]:
(1 < 2 and 2 > 3)

False

In [94]:
(1>2 or 2<3)

True

# Conditional Statements

In [95]:
if 1<2:
    print('hello')

hello

In [96]:
if True:
    print('perform code')

perform code

In [103]:
if 1 <= 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4 == 4:
    print('third')
else:
    print('last')

first

# Loops

In [104]:
seq = [1,2,3,4,5,6]

In [105]:
for i in seq:
    print(i)

1
2
3
4
5
6

In [107]:
i = 1
while(i<5):
    i = i+1
    print(i)

2
3
4
5

In [108]:
print('i is {}'.format(i))

i is 5

In [110]:
ser = range(0,11)

In [111]:
for x in ser:
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [112]:
list(ser)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
x = [1,2,3,4]

In [114]:
out = []

In [115]:
for num in x:
    out.append(num**2)

In [116]:
print(out)

[1, 4, 9, 16]

In [119]:
[num**2 for num in x]

[1, 4, 9, 16]

# Functions

In [120]:
#def can be used to define a function

In [126]:
def my_fun(param1):
    print('Hello '+param1)

In [127]:
my_fun('Shraddha')

Hello Shraddha

In [128]:
my_fun('Jose')

Hello Jose

In [130]:
my_fun

In [131]:
def fun(num):
    square = num **2
    return square

In [132]:
fun(3)

9

In [133]:
"""
THIS IS A DOCSTRING
IT'S ONE KIND OF COMMENT
"""

"\nTHIS IS A DOCSTRING\nIT'S ONE KIND OF COMMENT\n"

In [134]:
range

range

In [135]:
#SHIFT TAB Used for getting the information
#Shift enter to just run
#Alt Enter to run and new Line

# Lambda Expressions, Map Function

In [136]:
seq = [1,2,3,4,5]

In [138]:
def times2(var):
    return var*var

In [140]:
list(map(times2,seq))

[1, 4, 9, 16, 25]

In [141]:
#Lambdas helps to create inline function. no def and returns needed. Lambdas don't have a name even !

In [142]:
t = lambda var : var*var

In [143]:
list(map(lambda num : num*num, seq))

[1, 4, 9, 16, 25]

In [145]:
list(filter(lambda num: num%2 ==0, seq))

[2, 4]

In [146]:
s = "Hello my name is Shraddha"

In [147]:
s.lower()

'hello my name is shraddha'

In [148]:
s.upper()

'HELLO MY NAME IS SHRADDHA'

In [150]:
s.center

In [151]:
s.split()

['Hello', 'my', 'name', 'is', 'Shraddha']

In [152]:
tweet = 'Go Sports ! #SPORTS'

In [153]:
tweet.split()

['Go', 'Sports', '!', '#SPORTS']

In [154]:
tweet.split('#')

['Go Sports ! ', 'SPORTS']

In [155]:
tweet.split('#')[1]

'SPORTS'

In [156]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [157]:
d = {'k1':1,'k2':2}

In [159]:
d.keys()

dict_keys(['k1', 'k2'])

In [160]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [161]:
d.values()

dict_values([1, 2])

In [162]:
lst = [1,2,3]

In [163]:
lst.pop()

3

In [166]:
lst.append(10)

In [167]:
lst

[1, 2, 10]

In [168]:
lst.pop(0)

1

In [169]:
lst

[2, 10]

In [170]:
'X' in lst

False

In [171]:
'2' in lst

False

In [172]:
2 in lst

True

In [173]:
'X' in ['Y','Z','A']

False

In [174]:
#Tuple Unpacking !

In [175]:
X = [(1,2),(3,4),(5,6)]

In [176]:
X[0][0]

1

In [177]:
for item in X:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [181]:
for (a,b) in X:
    print(a)

1
3
5